@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Bellefair&display=swap');


*{
    box-sizing: border-box;
}

.container{
    background-image: url(./assets/home/background-home-desktop.jpg);
    width: auto;
    height: 49.8em;
    justify-content: center;
    color: #ffffff;
}

.logo{
    width: 40px;
    margin-top: 60px;
    margin-left: 70px;

}


.navcontainer{
    
    height: 80px;
    margin-top: -60px;
    margin-left: 680px;
    backdrop-filter: blur(30px);
    
}

.navmenu a{
    width: 160px;
    cursor: pointer;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    transition: .2s;
    text-decoration: none;
    text-align: center;
    padding: 30px 20px;
    font-family: 'barlow condensed';
    text-transform: uppercase;
}


.navmenu a:hover{
    background-color: #ffffff;
    color: #1C2230;
}

.btncontainer{
    margin-left: 1000px;
    margin-top: -250px;
}

#btn{
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    font-family: "bellefair";
    font-size: 30px;
}
#btn:hover{
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.2);


}
 

.myslider{
    display: none;
}
.textcontainer{
    margin-top: 200px;
    margin-left: 200px;
    width: 430px;
    color: white;
}

.textp1{
    font-family: 'barlow condensed';
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;

}

.textp2{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'bellefair';
    font-size: 120px;
    font-weight: 300;
    text-transform: uppercase;

}


.textp3{
    font-family: 'barlow condensed';
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
}



.desp{
    font-family: "barlow condensed";
    font-size: 40px;
    margin-left: 200px;
    text-transform: uppercase;
    margin-top: 50px;
}

.row{
    margin-left: 750px;
    margin-top: 50px;
}
.row a{
    display: inline-block;
    width: 80px;
    cursor: pointer;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    transition: .2s;
    text-decoration: none;
    text-align: center;
    padding: 15px 10px;
    font-family: 'barlow condensed';
    text-transform: uppercase;

}


.row a:hover{
    background-color: #ffffff;
    color: #1C2230;
}




.myslides1{
    display: none;
}

.myslides1{
    margin-left: 200px;
    margin-top: 150px;
    color: #ffffff;
}

.img1{
    margin-top: -200px;
}


.name{
    margin-top: -350px;
    margin-left: 550px;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 700;
    
}
.p1{
    font-size: 24px;
    margin-top: 0px;
    margin-left: 550px;
    width: 500px;
    
    font-family: "barlow condensed";
}


.desdis{
    float: left;
    font-size: 24px;
    font-family: "barlow condensed";
    text-transform: uppercase;
    margin-left: 750px;
    margin-top: -80px;
}

.destra{
    float: left;
    font-size: 24px;
    font-family: "barlow condensed";
    text-transform: uppercase;
    margin-left: 920px;
    margin-top: -80px;
}


.km{
    font-size: 24px;
    font-family: "barlow condensed";
    text-transform: uppercase;
    margin-left: 550px;
    margin-top: 150px;
}

.time{
    font-size: 24px;
    font-family: "barlow condensed";
    text-transform: uppercase;
    margin-left: 720px;
    margin-top: -23px;
}

.myslides2{
    display: none;
}


.row2{
    float: left;
    margin-left: 200px;
    margin-top: 400px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }


.crewmeet{
    font-family: "barlow condensed";
    font-size: 40px;
    margin-left: 100px;
    text-transform: uppercase;
    margin-top: 50px;
}

.work{
    float: left;
    font-family: "barlow condensed";
    font-size: 30px;
    margin-left: -180px;
    text-transform: uppercase;
    margin-top: 40px;
    opacity: .8;
    width: 200px;
}

.namec{
    float: left;
    margin-left: -200px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 100px;
}

.namec2{
    float: left;
    margin-left: -200px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 100px;
}

.p2{
    float: left;
    margin-left: -280px;
    font-size: 20px;
    margin-top: 200px; 
    font-family: "barlow condensed";
    width: 500px;
  
}

.img6{
    width: 400px;
    float: left;
    margin-top: -222px;
    margin-left: 600px;
}

.img7{
    width: 350px;
    float: left;
    margin-top: 67px;
    margin-left: 0px;
}

.p3{
    float: left;
    margin-left: -360px;
    font-size: 20px;
    margin-top: 200px; 
    font-family: "barlow condensed";
    width: 500px;
  
}

.img8{
    width: 450px;
    float: left;
    margin-top: 55px;
    margin-left: 170px;
}

.p4{
    float: left;
    margin-left: -260px;
    font-size: 20px;
    margin-top: 200px; 
    font-family: "barlow condensed";
    width: 500px;
  
}

.img9{
    width: 550px;
    float: left;
    margin-top: 8px;
    margin-left: 200px;
}

.p5{
    float: left;
    margin-left: -300px;
    font-size: 20px;
    margin-top: 200px; 
    font-family: "barlow condensed";
    width: 500px;
  
}


.myslides3{
    display: none;
}

.p6{
    font-family: "barlow condensed";
    font-size: 40px;
    margin-left: 100px;
    text-transform: uppercase;
    margin-top: 50px;
}

.p7{
    font-family: "barlow condensed";
    font-size: 30px;
    margin-left: 320px;
    text-transform: uppercase;
    margin-top: 90px;
    opacity: .8;
}

.row3{
    margin-left: 200px;
    margin-top: 30px;
    
}
.row3 a{
    width: 70px;
    cursor: pointer;
    color: aliceblue;
    font-weight: 700;
    font-size: 40px;
    transition: .2s;
    text-decoration: none;
    text-align: center;
    padding: 15px ;
    font-family: 'barlow condensed';
    text-transform: uppercase;
    display: block;
    box-shadow: 0 0 0 3px white;
    border-radius: 50px;
    

}


.row3 a:hover{
    background-color: #ffffff;
    color: #1C2230;
}

.techname{
    float: left;
    margin-left: 320px;
    font-size: 50px;
    margin-top: -280px; 
    /* font-family: "barlow condensed"; */
    width: 500px;
    text-transform: uppercase;
}

.techp1{
    float: left;
    width: 300px;
    margin-left: 320px;
    font-size: 30px;
    margin-top: -200px; 
    font-family: "barlow condensed";
    width: 500px;

}

.imgtech{
    width: 500px;
    float: left;
    margin-left: 925px;
    margin-top: -352px;
    border-radius: 20px;
}



@media screen and (max-width: 375px){
    body{
        background-image: url(./assets/home/background-home-mobile.jpg);
        background-color: #0B0D19;
    }
    .container{

        width: auto;
        height: auto;
        justify-content: center;
        color: #ffffff;
        background-color: #1C2230;
    }
    
    .logo{
        width: 40px;
        margin-top: 60px;
        margin-left: 40px;
    
    }
    
  
    
.navcontainer{
    
    height: 40px;
    margin-top: -50px;
    margin-left: 90px;
    backdrop-filter: blur(30px);
    
}

.navmenu a{
    width: 120px;
    cursor: pointer;
    color: aliceblue;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    transition: .2s;
    text-decoration: none;
    text-align: center;
    padding: 15px 10px;
    font-family: 'barlow condensed';

}


.navmenu a:hover{
    background-color: #ffffff;
    color: #1C2230;
}

    .btncontainer{
        margin-left: 75px;
        margin-top: 30px;
    }
    
  
    .textcontainer{
        margin-top: 100px;
        margin-left: 50px;
        width: 300px;
        color: white;
    }
    
    .textp1{
        font-family: 'barlow condensed';
        font-size: 25px;
        font-weight: 300;
        text-transform: uppercase;
    
    }
    
    .textp2{
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: 'bellefair';
        font-size: 80px;
        font-weight: 300;
        text-transform: uppercase;
    
    }
    
    
    .textp3{
        font-family: 'barlow condensed';
        font-size: 25px;
        font-weight: 300;
        line-height: 30px;
    }
    
    
    
    .desp{
        font-family: "barlow condensed";
        font-size: 25px;
        margin-left: 50px;
        text-transform: uppercase;
        margin-top: 80px;
    }
    
    .row{
        margin-left: 50px;
        margin-top: 250px;
    }
    .row a{
        display: inline-block;
        width: 60px;
        cursor: pointer;
        color: aliceblue;
        font-weight: 700;
        font-size: 15px;
        display: inline-block;
        transition: .2s;
        text-decoration: none;
        text-align: center;
        padding: 15px 10px;
        font-family: 'barlow condensed';
        text-transform: uppercase;
    
    }
    
    
    .row a:hover{
        background-color: #ffffff;
        color: #1C2230;
    }
    
    
    
    
    .myslides1{
        display: none;
    }
    
    .myslides1{
        margin-left: 200px;
        margin-top: 150px;
        color: #ffffff;
    }
    
    .img1{
        float: left;
        margin-top: -420px;
        width: 220px;
        margin-left: -120px;
        padding-bottom: 20px;
    }
    
    
    .name{
        margin-top: -120px;
        margin-left: -150px;
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 700;
        float: left;
        
    }
    .p1{
        font-size: 18px;
        margin-top: -70px;
        margin-left: -150px;
        width: 280px;
        float: left;
        font-family: "barlow condensed";
    }
    
    
    .desdis{
        float: left;
        font-size: 24px;
        font-family: "barlow condensed";
        text-transform: uppercase;
        margin-left: 50px;
        margin-top: -50px;
    }
    
    .destra{
        float: left;
        font-size: 24px;
        font-family: "barlow condensed";
        text-transform: uppercase;
        margin-left: 260px;
        margin-top: -50px;
    }
    
    
    .km{
        font-size: 24px;
        font-family: "barlow condensed";
        text-transform: uppercase;
        margin-left: -280px;
        margin-top: 80px;
        float: left;
    }
    
    .time{
        font-size: 24px;
        font-family: "barlow condensed";
        text-transform: uppercase;
        margin-left: 60px;
        margin-top: 60px;
        float: left;
    }
    
    .myslides2{
        display: none;
    }
    
    
    .row2{
        float: left;
        margin-left: 150px;
        margin-top: 350px;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
    
    
    .crewmeet{
        font-family: "barlow condensed";
        font-size: 25px;
        margin-left: 50px;
        text-transform: uppercase;
        margin-top: 80px;
    }
    
    .work{
        float: left;
        font-family: "barlow condensed";
        font-size: 25px;
        margin-left: -180px;
        text-transform: uppercase;
        margin-top: 380px;
        opacity: .8;
        width: 200px;
    }
    
    .namec{
        float: left;
        margin-left: -200px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 410px;
    }
    
    .p2{
        float: left;
        margin-left: 55px;
        font-size: 20px;
        margin-top: 0px; 
        font-family: "barlow condensed";
        width: 250px;
      
    }
    
    .img6{
        width: 250px;
        float: left;
        margin-top: -560px;
        margin-left: 80px;
    }
    
    .img7{
        width: 200px;
        float: left;
        margin-top: -400px;
        margin-left: -180px;
    }
    .namec2{
        float: left;
        margin-left: 55px;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10px;
    }
    
    .p3{
        float: left;
        margin-left: 55px;
        font-size: 20px;
        margin-top: 10px; 
        font-family: "barlow condensed";
        width: 250px;
      
    }
    
    .img8{
        width: 270px;
        float: left;
        margin-top: -420px;
        margin-left: 50px;
    }
    
    .p4{
        float: left;
        margin-left: -260px;
        font-size: 20px;
        margin-top: 450px; 
        font-family: "barlow condensed";
        width: 250px;
      
    }
    
    .img9{
        width: 270px;
        float: left;
        margin-top: -420px;
        margin-left: 50px;
    }
    
    .p5{
        float: left;
        margin-left: -290px;
        font-size: 20px;
        margin-top: 450px; 
        font-family: "barlow condensed";
        width: 250px;
      
    }
    
    
    .myslides3{
        display: none;
    }
    
    .p6{
        font-family: "barlow condensed";
        font-size: 25px;
        margin-left: 50px;
        text-transform: uppercase;
        margin-top: 80px;
    }
    
    .p7{
        font-family: "barlow condensed";
        font-size: 20px;
        margin-left: 120px;
        text-transform: uppercase;
        margin-top: 300px;
        opacity: .8;
        float: left;
    }
    
    .row3{
        float: left;
        margin-left: -200px;
        margin-top: 350px;
        
    }
    .row3 a{
        width: 40px;
        cursor: pointer;
        color: aliceblue;
        font-weight: 700;
        font-size: 20px;
        transition: .2s;
        text-decoration: none;
        text-align: center;
        padding: 10px ;
        font-family: 'barlow condensed';
        text-transform: uppercase;
        display: block;
        box-shadow: 0 0 0 3px white;
        border-radius: 70px;
        
    
    }
    
    
    .row3 a:hover{
        background-color: #ffffff;
        color: #1C2230;
    }
    
    .techname{
        float: left;
        margin-left: 90px;
        font-size: 25px;
        margin-top: 20px; 
        /* font-family: "barlow condensed"; */
        width: 250px;
        text-transform: uppercase;
        float: left;
    }
    
    .techp1{
        float: left;
        width: 250px;
        margin-left: 90px;
        font-size: 20px;
        margin-top: 20px; 
        font-family: "barlow condensed";
        
    
    }
    
    .imgtech{
        width: 250px;
        float: left;
        margin-left: 40px;
        margin-top: -530px;
        border-radius: 20px;
        float: left;
    }
    
}

